.btn--dark-blue {
  position: relative;
  border: none;
  padding: 20px 75px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #e9deff;
  box-shadow: 0 0 3px 0 rgba(162, 45, 247, 0.1), 0 0 7px 0 rgba(162, 45, 247, 0.1), 0 0 13px 0 rgba(162, 45, 247, 0.1), 0 0 25px 0 rgba(162, 45, 247, 0.1), 0 0 47px 0 rgba(162, 45, 247, 0.1), 0 0 19px 9px rgba(162, 45, 247, 0.1);
  background: #1e0044;

  @include desktop {
    font-weight: 400;
    font-size: 20px;
  }

  @media (any-hover: hover) {
    &:hover {
      text-shadow: 0px 0px 10px #ffffff;
      box-shadow: 0px 0px 3.14815px 0px rgba(162, 45, 247, 0.1), 0px 0px 6.51852px 0px rgba(162, 45, 247, 0.1), 0px 0px 13px 0px rgba(162, 45, 247, 0.1), 0px 0px 25.48148px 0px rgba(162, 45, 247, 0.1), 0px 0px 46.85185px 0px rgba(162, 45, 247, 0.1), 0px 0px 19px 9px rgba(162, 45, 247, 0.1), 0px 0px 20px 0px #29D9FF !important;
    }
  }

  &:active {
    box-shadow: 0 0 10px 0 #d795ff;
    background: rgba(177, 149, 255, 0.5), rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.7);
  }

  &::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(56, 63, 236, 1) 0%, rgba(35, 255, 255, 1) 100%);
    z-index: -1;
  }


}


.btn--light-blue {
  position: relative;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 146%;
  text-align: center;
  color: var(--r1-white);
  padding: 11px 34px 12px 34px;
  background: rgba(29, 1, 65, 0.3);

  @media (any-hover: hover) {
    &:hover {
      text-shadow: 0px 0px 10px #ffffff;
      box-shadow: 0px 0px 3.14815px 0px rgba(162, 45, 247, 0.1), 0px 0px 6.51852px 0px rgba(162, 45, 247, 0.1), 0px 0px 13px 0px rgba(162, 45, 247, 0.1), 0px 0px 25.48148px 0px rgba(162, 45, 247, 0.1), 0px 0px 46.85185px 0px rgba(162, 45, 247, 0.1), 0px 0px 19px 9px rgba(162, 45, 247, 0.1), 0px 0px 20px 0px #29D9FF !important;
    }
  }

  &:active {
    box-shadow: 0 0 10px 0 #d795ff;
    background: rgba(177, 149, 255, 0.5), rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.7);
  }

  &::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(89, 248, 210, 1) 31%, rgba(161, 180, 239, 1) 81%, rgba(202, 142, 255, 0.5214460784313726) 100%);
    z-index: -1;
  }
}
