.choices {
  box-shadow: 0 0 3px #9400FF, 0 0 4px #C64F87;
  border-radius: 10px;
}

.choice2 {
  box-shadow: 0 0 10px 0 #9662ff;
}

.choices__inner {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(50px);
  z-index: 10;

  @include desktop {
    font-size: 20px;
  }

}

.choices.is-open .choices__inner {
  position: relative;
  background-color: rgba(72, 5, 114, 1);
  border-radius: 10px;
  z-index: 20;
}

.choice2.is-open .choices__inner{
  position: relative;
  background-color: rgb(167, 101, 228);
  border-radius: 10px;
  z-index: 20;
}


.choices__list--single {
  padding: 8px 24px;
}


.choices[data-type*=select-one] .choices__input {
  box-shadow: 10px 10px 3px #9400FF, 10px 10px 4px #C64F87;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: 1px solid rgba(72, 5, 114, 0.5);
  backdrop-filter: blur(100px);
  background: rgba(72, 5, 114, 0.5);
  box-shadow: 0 0 3px #9400FF, 0 0 4px #C64F87;
}

.choices__list--single .choices__item {
  text-align: left;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 100%;
  color: var(--r1-white);
  text-align: left;
  padding-left: 27px;

  &:hover {
    text-shadow: 0 0 4px #d795ff
  }
}

.choices .choices__list--dropdown {
  background-color: rgb(128, 65, 167, 0.7);;
}

.choice2 .choices__list--dropdown{
  background-color: rgba(215, 149, 255, 0.9)
}
.choice2[data-type*=select-one]:after {
  height: 25px;
  width: 25px;
  z-index: 3;
  top: 30%;
  border-style: none;
  background-image: url(../img/teenyicons_down-solid.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.choice2[data-type*=select-one].is-open:after {
  z-index: 1000003;
  top: 40%;
  transform: rotate(-180deg);

}

.choice1[data-type*=select-one]:after {
  height: 12px;
  width: 12px;
  z-index: 3;
  top: 30%;
  border-style: none;
  border: 1px solid white;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);


}

.choice1[data-type*=select-one].is-open:after {
  top: 60%;
  border-width: 1px 1px 0 0;

}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: transparent;
  border-radius: 10px;
  top: calc(100% - 30px);
  padding-top: 30px;
}



.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 20px;

}

.btn--block {
  display: none;
}
