.pagecrm {


  &__item {
    display: flex;
    grid-column: 3 span;
    min-height: 145px;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 10px;

    @include large {
      min-height: 340px;
    }
  }


  &__item-img1 {
    background-image: url(../img/1.webp);

    @include medium {
      grid-column: 4/7;
    }

    @include large{
      background-image: url(../img/1-1600.webp);

    }
  }

  &__item-img2 {
    background-image: url(../img/2.webp);
    @include medium {
      grid-column: 7/10;
    }

    @include large{
      background-image: url(../img/2-1600.webp);
    }
  }

  &__item-img3 {
    background-image: url(../img/3.webp);

    @include medium {
      grid-column: 1/4;
    }

    @include large {
      background-image: url(../img/3-1600.webp);
    }
  }

  &__item-img4 {
    background-image: url(../img/4.webp);

    @include medium {
      grid-column: 10/12;
    }

    @include large{
      background-image: url(../img/4-1600.webp);
    }
  }

  &__descr {
    margin: 0;
padding-top: 114px;
    width: 90%;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: var(--r1-white);

    @include large {
      padding-top: 220px;
      font-size: 24px;
      line-height: 125%;
      text-align: center;

    }

    @include desktop {
      padding-top: 220px;
      font-size: 32px;
      line-height: 125%;
      text-align: center;

    }
  }
}

.pagecrm-adm {
  padding-bottom: 60px;

  @include large {
    padding-bottom: 100px;
  }

  &__subtitle {
    margin-bottom: 19px;
  }

  &__grid {
    @include medium {
      grid-template-rows: 0;
    }
  }
}
