.pagecrm-business {
  &__title {
    margin-bottom: 0;
    margin-bottom: 5px;
  }


  &__item {
    position: relative;
    grid-column: 6 span;
    flex-direction: column;
    display: flex;
    min-height: 383px;
    padding: 30px 33px 21px 33px;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 rgba(215, 149, 255, 0.5);
    background: rgba(66, 25, 99, 0.8);

    @include large {
      padding: 15px 15px;
      flex-direction: inherit;
      min-height: 200px;
    }


    @include desktop {
      flex-direction: inherit;
      min-height: 243px;
      padding: 30px 33px 21px 33px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: -2px;
      border-radius: 30px;
      z-index: -1;
      background: linear-gradient(90deg, rgba(148, 0, 255, 0.8) 83%, rgba(198, 79, 135, 0.8) 100%);
    }

  }


  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

    @include large {
      width: 273px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    justify-content: space-between;
    min-height: 140px;

    @include large {
      padding-left: 20px;
    }

  }

  &__descr {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    color: var(--r1-white);
    margin-bottom: 10px;

    @include large {
      font-size: 16px;
      color: var(--r1-white);
    }

    @include desktop {
      font-size: 20px;
      color: var(--r1-white);
    }
  }

  &__text {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: var(--r1-white);

    @include desktop {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__text2 {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    background: linear-gradient(157deg, #b195ff 0%, #d795ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include desktop {
      font-size: 16px;
    }
  }

  &__content-top {
    margin-bottom: auto;
  }

  &__btn {
    align-self: center;

    @include large {
      align-self: flex-start;
      font-size: 16px;
      line-height: 146%;
    }


    @include desktop {
      align-self: flex-start;
      font-size: 20px;
      line-height: 146%;
    }
  }

}
