.pagecrm-function {
  display: block;

  &__item {
    grid-column: 6 span;
    display: flex;
    min-height: 190px;
    box-shadow: 0 0 20px #d795ff, 0 0 4px #d795ff;
    background: rgba(72, 5, 114, 0.5);
    border-radius: 23px;
  }

  &__item-img {
    width: 50%;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }

  &__list-descr {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include large {
      gap: 28px;
    }
  }

  &__descr {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    background: linear-gradient(157deg, #b195ff 0%, #e9c6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;


    @include desktop {
      font-size: 20px;
        }

    @include desktop {
  font-size: 24px;
  line-height: 195%;
    }
  }

  &__content {
    width: 50%;
    padding: 10px;

    @include large {
    padding: 20px;
    }
  }

  &__item-descr {
    padding-left: 31px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--r1-white);
    background-image: url(../img/check-circle-1.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 20px 20px;

    @include large {
      font-size: 16px;
      background-size: 24px 24px;
      line-height: 132%;
    }

    @include desktop {
      font-size: 20px;
      background-size: 28px 28px;
      line-height: 132%;
    }

  }
}
