.header {
  width: 100%;

  @include medium {
    position: fixed;
    inset: 0;
    z-index: 20;
    height: 79px;
    align-items: center;
    backdrop-filter: blur(100px);
    background: rgba(29, 1, 65, 0.3);
  }

  &__container {
    @include desktop {
      --container-width: 1600px;
    }
  }

  &__logo img {

    @include medium {
      width: 146px;
      height: 23px;
    }

    @include desktop {
      width: 222px;
      height: 35px;
    }
  }

  &__top {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    @include medium {
      gap: 15px;
      min-height: 79px;
      padding-top: 0;
      margin-bottom: 0;
    }
  }

  &__top-right {
    @include medium {
      display: flex;
      flex-basis: 208px;
      justify-content: space-between;
      gap: 15px;
    }

    @include desktop {
      flex-basis: 428px;

    }
  }

  &__nav-block {
    display: none;

    @include medium {
      display: flex;
      margin-left: 50px;
      flex-basis: 200px;

    }

    @include desktop {
      margin-left: 105px;
      flex-basis: 300px;
    }
  }

  &__nav {
    @include medium {
      display: flex;
      flex-basis: 318px;
      height: 100%;
      align-items: center;
    }
  }


  &__list {

    @include medium {
      height: 84px;
      align-items: center;

      display: flex;
      justify-content: space-between;
      flex-basis: 318px;
      gap: 24px;
    }
  }

  &__item {
    @include medium {
      position: relative;
      height: 100%;
      top: 37%;

    }

    @include medium {
      &:hover>ul {
        display: initial;
      }
    }




    & a {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      color: #e9deff;
    }
  }


  &__list-inserted {
    position: absolute;
    top: 48px;
    left: 0;
    display: none;
    padding: 12px 0 24px 12px;
    box-sizing: border-box;
    z-index: 500;
    height: auto;
    min-width: 230px;
    background: rgba(29, 1, 65, 0.3);
    mix-blend-mode: normal;
    /* backdrop-filter: blur(50px); */
    border-radius: 0px 0px 10px 10px;
    display: none;

    &:hover {
      display: inherit;
    }



    // @include medium {
    //   display: block;
    // }
  }


  &__item-inserted {
    position: relative;
    width: 100%;

    &:hover>ul {
      display: inherit;
    }

    & a {
      color: #fff;
      font-weight: bold;
      width: 100%;
      text-align: left;
      font-size: 20px;
      font-family: Play;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      text-transform: none;

      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
          text-shadow: 0px 0px 20px #D795FF, 0px 0px 4px #D795FF;
        }
      }
    }

    & ul {
      position: absolute;
      left: 217px;
      top: -12px;
    }

  }

  &__item-inserted-img {
    background-image: url(../img/pngwing.com.webp);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px 20px;
  }

  &__list-inserted3 {
    & ul {
      @include medium {
        position: absolute;
        left: -242px;
        top: -12px;
      }

      @include large {
        left: 217px;
        top: -12px;
      }
    }
  }

  &__item-link {

    @include medium {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      text-transform: uppercase;
      text-align: center;
      color: #e9deff;
      text-shadow: 0 0 20px 0 #d795ff, 0 0 4px 0 #d795ff;

      &:hover {
        text-shadow: 0 0 4px #d795ff
      }
    }

    @include desktop {
      font-size: 20px;
    }
  }



  &__top-tel {
    padding-left: 33px;
    font-weight: 500;
    font-size: 11px;
    color: var(--r1-white);

    @media (any-hover: hover) {
      &:hover {
        text-shadow: 0px 0px 20px #D795FF, 0px 0px 4px #D795FF;
        color: #fff;
      }
    }

    @include medium {
      display: none;

    }

    @include desktop {
      display: block;
      align-self: center;
      font-weight: 400;
      font-size: 20px;
      color: var(--r1-white);
      background-image: url(../img/phone-fill.svg);
      background-repeat: no-repeat;
      background-position: left center;

    }
  }

  &__top-btn {
    display: none;

    @include medium {
      display: block;
      padding: 10px 15px;
      font-size: 14px;
      font-family: var(--font-family);
      font-weight: 400;

      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #e9deff;
    }

    @include desktop {
      padding: 15px 20px;
      font-size: 20px;
    }
  }

  &__bottom {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    padding-bottom: 25px;

    @include medium {
      display: none
    }
  }

}


.burger {
  @include burger;
  display: inline-block
}

.search {
  display: inline-block;
  min-width: 288px;
  height: 25px;
  position: relative;

  @include medium {
    min-width: 0;
  }

  &__form {
    height: 100%;
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 420px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(158, 149, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);

    @include medium {
      position: absolute;
      inset: 0;
      top: -4px;
      left: 3px;
      width: 330px;
      height: 30px;
      visibility: hidden;
      opacity: 0;
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__input {
    border: none;
    padding-left: 25px;
    padding-right: 5px;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border-radius: 420px;
    background: linear-gradient(90deg, rgba(46, 51, 90, 0.5) 0%, rgba(28, 27, 51, 0.5) 100%, rgba(255, 255, 255, 1) 100%);

  }

  &__open {
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;

    @include medium {
      margin-left: 20px;
      pointer-events: all;
    }

    & svg {
      @include desktop {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.scroll--active {
  backdrop-filter: blur(100px);
  background: rgba(29, 1, 65, 0.3);
}
