.pagecrm-partner {

  &__block {
    display: flex;
    flex-direction: column;
    gap: 58px;

    & img{
      margin: auto;

      @include medium {
        width: 230px;
        height: 120px;
      }

      @include large {
        width: 493px;
        height: 218px;
      }
    }

    @include medium {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }


  &__subtitle {
    margin-bottom: 0px;

    @include medium {
      margin-bottom: 35px;
    }
  }

  &__list {
    @include medium {
      width: 56%;
    }
  }

  &__item {
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(0, 255, 183, 1) 0%, rgba(215, 149, 255, 1) 100%);
    border-image-slice: 1;

    @include large {
      padding-bottom: 42px;
      padding-top: 36px;
    }
  }

  &__item:nth-child(2) {
    margin-top: -1px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: var(--r1-white);

    @include large {
      font-size: 24px;
      line-height: 150%;

    }

    @include desktop {
      font-size: 36px;


    }
  }
}
