.pagecrm-write {

  background-image: url(../img/Rectangle-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;

  @include medium {
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @include desktop {
    background-image: url(../img/Rectangle.webp);
  }

  &__container {
    @include medium {
      display: flex;
    }
  }

  &__block {
    @include medium {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

    }

    @include desktop {
      padding-left: 114px;
      padding-bottom: 64px;
    }
  }

  &__text-desktop {
    display: none;

    @include medium {
      display: block;
      font-weight: 400;
      font-size: 24px;
    }

    @include desktop {
      font-size: 48px;
      line-height: 83%;
      color: var(--r1-white);
    }
  }

  &__descr {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    width: 83%;
    color: var(--r1-white);
    text-align: start;
    margin: auto;
    margin-bottom: 8px;

    @include medium {
      width: 80%;
      line-height: 125%;
      margin: 0;
      margin-bottom: 10px;

    }

    @include desktop {
      font-size: 32px;
      width: 50%;
    }
  }
}
