<section class="pagecrm-adm pagecrm">
  <div class="container">
    <h2 class="subtitle pagecrm-adm__subtitle">
      Управление бизнес-процессами
    </h2>
    <ul class="pagecrm__list grid pagecrm-adm__grid list-reset">
      <li class="pagecrm__item pagecrm__item-img1">
        <p class="pagecrm__descr">
           Удобное общение с&nbsp;заказчиками
        </p>
      </li>
      <li class="pagecrm__item pagecrm__item-img2">
        <p class="pagecrm__descr">
          Лучшие CRM-системы
        </p>
      </li>
      <li class="pagecrm__item pagecrm__item-img3">
        <p class="pagecrm__descr">
           Повышение эффективности отдела продаж
        </p>
      </li>
      <li class="pagecrm__item pagecrm__item-img4">
        <p class="pagecrm__descr">
          Карточка с&nbsp;историей событий для каждого заказчика
        </p>
      </li>
    </ul>
  </div>
</section>
