<section class="pagecrm pagecrm-business">
  <div class="container">
    <h2 class="subtitle pagecrm-business__title">
      CRM В БИЗНЕСЕ
    </h2>
    <h3 class="subtitle--small">
      Наши кейсы
    </h3>
    <ul class="pagecrm-business__list grid list-reset">
      <li class="pagecrm-business__item">
        <div class="pagecrm-business__item-block">
          <picture>
            <source
              srcset="img/business1.webp, img/business1-2x.webp 2x, img/business1-3x.webp 3x, img/business1-4x.webp 4x"
              type="image/webp">
            <img
              src="img/business1.png" srcset="img/business1-2x.png 2x, img/business1-3x.png 3x, img/business1-4x.png 4x"
              alt="Пестовский мясокомбинат" loading="lazy" class="pagecrm-business__img" width="273" height="185">
          </picture>
        </div>
        <div class="pagecrm-business__content">
          <div class="pagecrm-business__content-top">
            <h3 class="pagecrm-business__descr">
              &laquo;Пестовский Лесокомбинат&raquo;
            </h3>
            <span class="pagecrm-business__text">
              Строительная компания
            </span>
            <span class="pagecrm-business__text2">
              Работают на платформе amoCRM
            </span>
          </div>
          <button class="btn--light-blue pagecrm-business__btn">
            Подробнее
          </button>
        </div>
      </li>
      <li class="pagecrm-business__item">
        <div class="pagecrm-business__item-block">
          <picture>
            <source
              srcset="img/business2.webp, img/business2-2x.webp 2x, img/business2-3x.webp 3x, img/business2-4x.webp 4x"
              type="image/webp">
            <img src="img/business2.png, img/business2-2x.png 2x, img/business2-3x.png 3x, img/business2-4x.png 4x"
              alt="Россия" loading="lazy" class="pagecrm-business__img" width="273" height="185">
          </picture>
        </div>
        <div class="pagecrm-business__content">
          <div class="pagecrm-business__content-top">
            <h3 class="pagecrm-business__descr">
              Магазин “Mongol Store”
            </h3>
            <span class="pagecrm-business__text">
              Одежда из натуральной шерсти
            </span>
            <span class="pagecrm-business__text2">
              Используют БитриксCRM
            </span>
          </div>
          <button class="btn--light-blue pagecrm-business__btn">
            Подробнее
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
