<section class="crumb">
  <div class="container">
    <ul class="crumb__list list-reset" itemscope itemtype="https://schema.org/Breadcrumblist">
      <li class="crumb__item" itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a href="/" class="crumb__item-link" title="Главная" itemprop="item">
         <span itemprop="name">Главная</span>
         <meta itemprop="position" content="0">
        </a></li>
        <li class="crumb__item" itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a href="/Услуги Альфа Маркетинг/" title="Услуги Альфа Маркетинг" itemprop="item" class="crumb__item-link">
          <span itemprop="name">Услуги Альфа Маркетинг</span>
          <meta itemprop="position" content="1">
        </a></li>
        <li class="crumb__item " itemprop="itemListElement" itemtype="https://schema.org/ListItem">
        <a href="/Услуги Альфа Маркетинг/CRM" title="CRM" itemprop="item" class="crumb__item-link crumb--active">
          <span itemprop="name">CRM</span>
          <meta itemprop="position" content="2">
        </a></li>
    </ul>
  </div>

</section>
