<section class="pagecrm pagecrm-form">
  <div class="container pagecrm__container">
    <div class="pagecrm-form__block">
      <h3 class="title">
        Оставить заявку
      </h3>
      <p class="pagecrm-form__descr">
        Выберите систему для вашего бизнеса, и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;течение 20&nbsp;минут
      </p>
      <form class="form pagecrm-form__form">
        <label class="pagecrm-form__label">
          <div class="pagecrm-form__input-block">
            <input type="text" class="pagecrm-form__input" placeholder=" ФИО" required>
          </div>
        </label>
        <label class="pagecrm-form__label">
          <div class="pagecrm-form__input-block">
            <input type="tel" class="pagecrm-form__input" placeholder=" Телефон" required>
          </div>
        </label>
        <label class="pagecrm-form__label">
          <select name="select" class="pagecrm-form__input js-choice" id="choice1">
            <option value="" selected>Выберите систему</option>
            <option value="amoCRM">amoCRM</option>
            <option value="Битрикс24">Битрикс24</option>
            <option value="Нужна помощь в выборе">Нужна помощь в выборе</option>
          </select>
        </label>
        <label class="pagecrm-form__label">
          <textarea name="textarea" class="pagecrm-form__input pagecrm-form__textarea" rows="60" cols="60"
            placeholder="Напишите что вас интересует, например: Покупка лицензии amoCRM">
        </textarea>
        </label>
        <button class="btn--dark-blue btn-reset" type="submit">
          ОСТАВИТЬ ЗАЯВКУ
        </button>
      </form>
    </div>

  </div>
</section>
