<section class="pagecrm pagecrm-form pagecrm-form2">
  <div class="container pagecrm__container">
    <h2 class="pagecrm-form__title title">
      Заявка на&nbsp;подбор и&nbsp;подключение CRM-системы
    </h2>
    <p class="pagecrm-form__text">
      Проведем аудит, подготовим решение для вашего бизнеса и&nbsp;рассчитаем стоимость
    </p>
    <div class="pagecrm-form__block pagecrm-form__block2">
      <h3 class="title pagecrm-form__block2-title">
        Заполните форму
      </h3>
      <p class="pagecrm-form__descr pagecrm-form__descr2">
        Оставьте свои контактные данные, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;течение 20&nbsp;минут
      </p>
      <form class="form pagecrm-form__form2 pagecrm-form__form">
        <div class="pagecrm-form__input-block">
          <label class="pagecrm-form__label">
            <input type="text" class="pagecrm-form__input pagecrm-form__input2" placeholder="Имя" required>
          </label>
        </div>
        <div class="pagecrm-form__input-block">
          <label class="pagecrm-form__label">
            <input type="tel" class="pagecrm-form__input pagecrm-form__input2" placeholder="Телефон" required>
          </label>
        </div>
        <label class="pagecrm-form__label pagecrm-form__label-select">
          <select name="select" class="pagecrm-form__input pagecrm-form__input2 js-choice" id="choice2">
            <option value="" selected>Выберите систему</option>
            <option value="Подключение">Подключение</option>
            <option value="Подключение + настройка">Подключение + настройка</option>
            <option value="Продление лицензий amoCRM или Битрикс24">Продление лицензий amoCRM или Битрикс24</option>
          </select>
        </label>
        <button class="btn--dark-blue btn-reset btn--select" type="submit">
          ОСТАВИТЬ ЗАЯВКУ
        </button>
      </form>
      <div class="pagecrm-form2__img-desktop">
        <picture>
          <source srcset="img/form.webp, img/form-2x.webp 2x, img/form-3x.webp 3x, img/form-4x.webp 4x" type="image/webp">
          <img src="img/form.png" srcset="img/form-2x.png 2x, img/form-3x.png 3x, img/form-4x.png 4x" alt="Подключение CRM системы" width="537" height="489" loading="lazy">
        </picture>
      </div>
    </div>

  </div>
</section>
