<section class="pagecrm pagecrm-function">
  <div class="container">
    <ul class="pagecrm-function__list list-reset grid">
      <li class="pagecrm-function__item">
        <picture>
          <source srcset="img/crm.webp, img/crm-2x.webp 2x, img/crm-3x.webp 3x, img/crm-4x.webp 4x"
            media="(max-width: 640px)" type="image/webp">
          <source srcset="img/crm.png, img/crm-2x.png 2x, img/crm-3x.png 3x, img/crm-4x.png 4x"
            media="(max-width: 640px)" type="image/png">
          <source
            srcset="img/crm-1600.webp, img/crm1600-2x.webp 2x, img/crm1600-3x.webp 3x, img/crm1600-4x.webp 4x"
            media="(max-width: 1600px)" type="image/webp">
          <img src="img/crm-1600.png" srcset="img/crm1600-2x.png 2x, img/crm1600-3x.png 3x, img/crm1600-4x.png 4x"
            alt="crm" class="pagecrm-function__img" width="345" height="320" loading="lazy">
        </picture>
        <div class="pagecrm-function__content">
          <span class="pagecrm-function__descr">Функции: </span>
            <ul class="pagecrm-function__list-descr list-reset">
              <li class="pagecrm-function__item-descr">CRM</li>
              <li class="pagecrm-function__item-descr">Интеграция с&nbsp;другими сервисами</li>
              <li class="pagecrm-function__item-descr">Онлайн-бот</li>
            </ul>
        </div>
      </li>
      <li class="pagecrm-function__item">
        <picture>
          <source srcset="img/bitrix.webp, img/bitrix-2x.webp 2x, img/bitrix-3x.webp 3x, img/bitrix-4x.webp 4x"
            media="(max-width: 640px)" type="image/webp">
          <source srcset="img/bitrix.jpg, img/bitrix-2x.jpg 2x, img/bitrix-3x.jpg 3x, img/bitrix-4x.jpg 4x"
            media="(max-width: 640px)" type="image/jpg">
          <source
            srcset="img/bitrix-1600.webp, img/bitrix1600-2x.webp 2x, img/bitrix1600-3x.webp 3x, img/bitrix1600-4x.webp 4x"
            media="(max-width: 1600px)" type="image/webp">
          <img src="img/bitrix-1600.png"
            srcset="img/bitrix1600-2x.png 2x, img/bitrix1600-3x.png 3x, img/bitrix1600-4x.png 4x" alt="bitrix"
            class="pagecrm-function__img" width="345" height="320" loading="lazy">
        </picture>
        <div class="pagecrm-function__content">
          <span class="pagecrm-function__descr"> Функции:</span>
            <ul class="pagecrm-function__list-descr list-reset">
              <li class="pagecrm-function__item-descr">CRM</li>
              <li class="pagecrm-function__item-descr">Корпоративный портал</li>
              <li class="pagecrm-function__item-descr">Онлайн офис</li>
              <li class="pagecrm-function__item-descr">Интеграция с&nbsp;другими сервисами и&nbsp;т.д.</li>
            </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
