<section class="pagecrm pagecrm-partner">
  <div class="container">
    <h2 class="subtitle pagecrm-partner__subtitle">
      НАШ ПАРТНЁР ПО&nbsp;CRM-СИСТЕМАМ
    </h2>
    <div class="pagecrm-partner__block">
      <picture>
        <source
          srcset="img/partner-1600.webp, partner1600-2x.webp 2x, partner1600-3x.webp 3x. partner1600-4x.webp 4x"
          media="(min-width: 1400px)" type="image/webp">
        <source srcset="img/partner-1600.png, partner1600-2x.png 2x, partner1600-3x.png 3x, partner1600-4x.png 4x"
          media="(min-width: 1400px)" type="image/png">
        <source srcset="img/partner.webp, img/partner-2x.webp 2x, img/partner-3x.webp 3x, img/partner-4x.webp 4x"
          type="image/webp">
        <img src="img/partner.png" srcset="img/partner-2x.png 2x, img/partner-3x.png 3x, img/partner-4x.png 4x"
          alt="Наши партнеры" loading="lazy" width="340" height="170">
      </picture>
      <ul class="pagecrm-partner__list list-reset">
        <li class="pagecrm-partner__item">
          <a href="#" class="pagecrm-partner__link">
          <span class="pagecrm-partner__text">Битрикс24 (Управление бизнесом)</span>
          <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.86 6.25L20.79 15M20.79 15L13.86 23.75M20.79 15L2.97 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </a>
      </li>
        <li class="pagecrm-partner__item">
          <a href="#" class="pagecrm-partner__link">
            <span class="pagecrm-partner__text">amoCRM (Управление бизнесом)</span>
            <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.86 6.25L20.79 15M20.79 15L13.86 23.75M20.79 15L2.97 15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
      </li>
      </ul>

    </div>
  </div>
</section>
