<section class="pagecrm pagecrm-price">
  <div class="container">
    <h2 class="subtitle pagecrm-price__subtitle">
      СТОИМОСТЬ ПОДКЛЮЧЕНИЯ
    </h2>
    <ul class="pagecrm-price__list list-reset grid">
      <li class="pagecrm-price__item">
<div class="pagecrm-price__item-top">
  <p class="pagecrm-price__info">
    Подключение системы CRM
  </p>
  <span class="pagecrm-price__price">
    от&nbsp;10&nbsp;000&nbsp;₽
  </span>
</div>
<div class="pagecrm-price__item-bottom">
  <ul class="pagecrm-price__item-list list-reset">
    <li class="pagecrm-price__item-item">Покупка любого тарифа со&nbsp;скидкой</li>
  </ul>
  <button class="btn--dark-blue pagecrm-price__btn ">
    ЗАКАЗАТЬ
  </button>
</div>
      </li>
      <li class="pagecrm-price__item">
<div class="pagecrm-price__item-top">
  <p class="pagecrm-price__info">
    Подключение системы CRM + настройка
  </p>
  <span class="pagecrm-price__price">
    от&nbsp;15&nbsp;000&nbsp;₽
  </span>
</div>
<div class="pagecrm-price__item-bottom">
  <ul class="pagecrm-price__item-list list-reset">
    <li class="pagecrm-price__item-item">Покупка любого тарифа со&nbsp;скидкой</li>
    <li class="pagecrm-price__item-item">Индивидуальная настройка системы</li>
  </ul>
  <button class="btn--dark-blue pagecrm-price__btn ">
    ЗАКАЗАТЬ
  </button>
</div>
      </li>
      <li class="pagecrm-price__item">
     <div class="pagecrm-price__item-top">
      <p class="pagecrm-price__info">
        Продление лицензий amoCRM и&nbsp;Битрикс24
      </p>
      <span class="pagecrm-price__price">
        от&nbsp;10&nbsp;000&nbsp;₽
      </span>
     </div>
     <div class="pagecrm-price__item-bottom">
      <ul class="pagecrm-price__item-list list-reset">
        <li class="pagecrm-price__item-item">Возможность продления лицензий со&nbsp;скидкой от&nbsp;официальных цен</li>
      </ul>
      <button class="btn--dark-blue pagecrm-price__btn">
        ЗАКАЗАТЬ
      </button>
     </div>
      </li>
    </ul>
  </div>
</section>
