<section class="pagecrm pagecrm-use">
  <div class="container">
    <h2 class="pagecrm-use__subtitle subtitle">
      КОМУ ПОЛЕЗНА CRM
    </h2>
    <ul class="pagecrm-use__list list-reset">
      <li class="pagecrm-use__item">Любому бизнесу, работающему с&nbsp;клиентской базой</li>
      <li class="pagecrm-use__item">Бизнесу, управляющему ассортиментом</li>
      <li class="pagecrm-use__item">Бизнесу, где есть задачи, планирование, отчетность и&nbsp;KPI</li>
    </ul>
    <div class="pagecrm-use__img">
      <picture>
        <source srcset="img/mobile-1600.webp, img/mobile-2x.webp 2x, img/mobile-3x.webp 3x, img/mobile-4x.webp 4x"
          type="image/webp">
        <img src="img/mobile-1600.png" srcset="img/mobile-2x.png 2x, img/mobile-3x.png 3x, img/mobile-4x.png 4x"
          alt="mobile" width="491" height="614" loading="lazy">
      </picture>
    </div>
  </div>
</section>
