<section class="pagecrm pagecrm-write">
  <div class="container pagecrm-write__container">
    <div class="pagecrm-write__block">
      <h2 class="subtitle--big">
        Напишите нам!
      </h2>
      <p class="pagecrm-write__descr">
        Заполните заявку и&nbsp;Мы свяжемся с&nbsp;Вами в&nbsp;течение 15&nbsp;минут
      </p>
      <span class="pagecrm-write__text-desktop">
        Команда Alpha marketing
      </span>
    </div>
    <div class="pagecrm-form__block pagecrm-form__block-write">
      <form class="pagecrm-form__form pagecrm-form__write">
        <label class="pagecrm-form__label">
          <div class="pagecrm-form__input-block">
            <input type="text" class="pagecrm-form__input pagecrm-form__input-write" placeholder="Имя*" required>
          </div>
        </label>
        <label class="pagecrm-form__label">
          <div class="pagecrm-form__input-block">
            <input type="email" class="pagecrm-form__input pagecrm-form__input-write" placeholder="@Почта*" required>
          </div>
        </label>
        <label class="pagecrm-form__label">
          <div class="pagecrm-form__input-block">
            <input type="tel" class="pagecrm-form__input pagecrm-form__input-write" placeholder="+7 (___) ___ - __ - __" required>
          </div>
        </label>
        <label class="pagecrm-form__label">
          <textarea name="textarea" class="pagecrm-form__input pagecrm-form__textarea pagecrm-form__textarea-write pagecrm-form__input-write" rows="3" cols="30"
            placeholder="Задать вопрос">
        </textarea>
        </label>
        <button class="btn--dark-blue btn-reset pagecrm-form__btn-write" type="submit">
          ЗАДАТЬ ВОПРОС
        </button>
      </form>
    </div>
  </div>
</section>
